/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/* Cullin Custom Classes */

.qlik-green {
    background-color: #009845 !important;
}

.qlik-green-text {
    color: #009845 !important;
}

.qlik-stone {
    background-color: #c4cfda !important;
}

.qlik-stone-text {
    color: #c4cfda !important;
}

.qlik-tanzanite {
    background-color: #1C355e !important;
}

.qlik-tanzanite-text {
    color: #1C355e !important;
}

/* End Cullin Custom Classes */

/* Spacing Formatting */
h6 {
    margin-block-start: .33em !important;
    margin-block-end: .33em !important;
}
/* Location Formatting */
#settingsButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.mdc-dialog__surface {
    min-width: 60vw !important;
}

#cardBodyContent {
    height: 100%;
}
