@page "/"
@namespace sportal.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using sportal.EmbeddedBlazorContentHelpers
@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Qlik Sportal</title>
    <base href="~/" />

    @Html.EmbeddedBlazorContent()
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <script src="_framework/blazor.server.js"></script>

    <!-- Materialize Initializers-->
    <script>window.blazorExtensions = {
            JWTLogin: function (hostname, webIntegrationID, jwtToken) {
                return fetch("https://" + hostname + "/login/jwt-session?qlik-web-integration-id=" + webIntegrationID, {
                    method: 'POST',
                    credentials: 'include',
                    mode: 'cors',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + jwtToken,
                        'qlik-web-integration-id': webIntegrationID
                    },
                    rejectUnauthorized: false
                }).then(function () {
                    window.open("https://" + hostname + "/", "_blank");
                });
            },
            CopyToClipboard: function () {
                var copyText = document.getElementById("publicKey");

                /* Select the text field */
                copyText.select();
                copyText.setSelectionRange(0, 99999); /*For mobile devices*/

                /* Copy the text inside the text field */
                var success = document.execCommand("copy");
                return success;
            },
            Refresh: function () {
                location.reload();
            }
        }</script>
</body>
</html>
