@inherits LayoutComponentBase
<MatThemeProvider Theme="@theme1">

    <div id="mainLayoutMaxWidth" class="center">
        <PageHeader />

        <UserTiles />

        <PageFooter />
    </div>
    @if (!GlobalSettings.HIDE_SETTINGS)
    {
<SettingsDialog />}
</MatThemeProvider>

@code
        { MatTheme theme1 = new MatTheme()
    {
        Primary = "#244b5a",
        Secondary = "#870064",

    }; }