@using sportal.Services
@inject UserService UserServiceInstance


<div id="titleHeader">
    <MatHeadline3 class="textCenter qlik-green-text">Sportal</MatHeadline3>
</div>
<div id="captionHeader">
    <MatHeadline6 class="textCenter">An impersonation portal for Qlik Sense® Enterprise SaaS</MatHeadline6>
</div>

<div id="groupContainer" class="qlik-tanzanite">

    <MatHeadline6 id="groupHeader" class="textCenter white-text">Groups</MatHeadline6>
    <div class="parentChipGroup">

        @foreach (string group in chipGroups)
        {
<span class="groupChip">@group</span>}
    </div>
</div>

@code{ string[] chipGroups;

    protected override async Task OnInitializedAsync()
    {
        chipGroups = await UserServiceInstance.GetChipGroupsAsync();
    } }