@using sportal.Services
@inject UserService UserServiceInstance


<div class="section no-pad-bot" id="header">
    <div class="container">
        <MatHeadline3 class="header center qlik-green-text">Qlik SaaS Personas</MatHeadline3>
        <div class="row center">
            <h5 class="header col s12 qlik-tanzanite-text">
                Let's manage an enterprise Qlik Sense deployment hosted in the
                Qlik Cloud!
            </h5>
        </div>
        <br>

    </div>
</div>

<div class="row">
    <MatCard class="card qlik-tanzanite z-depth-4 col s2 offset-s2">
        <MatCardContent class="card-content white-text">
            <MatHeadline6>AD Groups</MatHeadline6>
            <MatChipSet Filter="true" @bind-SelectedChips="selectedChips">

                @foreach (string group in chipGroups)
                {
<MatChip Label="@group"></MatChip>}
            </MatChipSet>


        </MatCardContent>
    </MatCard>
</div>

@code{ string[] chipGroups;
    MatChip[] selectedChips = null;

    protected override async Task OnInitializedAsync()
    {
        chipGroups = await UserServiceInstance.GetChipGroupsAsync();
    } }