<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="header center qlik-green-text">Qlik SaaS Personas</h1>
        <div class="row center">
            <h5 class="header col s12 qlik-tanzanite-text">
                Let's manage an enterprise Qlik Sense deployment hosted in the
                Qlik Cloud!
            </h5>
        </div>
        <br>

    </div>
</div>

<div class="row">
    <MatCard class="card qlik-tanzanite z-depth-4 col s2 offset-s2">
        <MatCardContent class="card-content white-text">
            <MatHeadline6>AD Groups</MatHeadline6>
            <MatChipSet Filter="true" @bind-SelectedChips="selectedChips">

                @foreach (string group in groups)
                {
                    <MatChip Label="@group"></MatChip>}
            </MatChipSet>


        </MatCardContent>
    </MatCard>
</div>

@code{ string[] groups = { "Executive", "North", "South", "Sales", "Supply Chain", "Marketing", "Qlik Developer", "IT", "External" };
    MatChip[] selectedChips = null; }