@using sportal.Services
@inject UserService UserServiceInstance


<div class="section no-pad-bot" id="header">
    <div class="container">
        <MatHeadline3 class="textCenter qlik-green-text">Sportal</MatHeadline3>
        <MatHeadline5 class="textCenter">An impersonation portal for Qlik Sense Enterprise in the cloud</MatHeadline5>
        <br>

    </div>
</div>

<div id="groupContainer" class="qlik-tanzanite">

    <MatHeadline6 class="textCenter qlik-white">Groups</MatHeadline6>
    <MatChipSet class="textCenter" Filter="true" @bind-SelectedChips="selectedChips">

        @foreach (string group in chipGroups)
        {
<MatChip Label="@group"></MatChip>}
    </MatChipSet>
</div>

@code{ string[] chipGroups;
    MatChip[] selectedChips = null;

    protected override async Task OnInitializedAsync()
    {
        chipGroups = await UserServiceInstance.GetChipGroupsAsync();
    } }