<footer class="page-footer qlik-tanzanite">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Information</h5>
                <p class="grey-text text-lighten-4">Developed by Cullin Tripp to demonstrate user personas with Qlik SaaS.</p>
            </div>
        </div>

    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="white-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>