<div class="row">
    <div class="card qlik-tanzanite z-depth-4 col s2 offset-s2">
        <div class="card-content white-text">
            <span class="card-title">AD Groups</span>
            <br>
            <div class="row center-align valign-wrapper">
                <div class="col 12">
                    <div>
                        <div class="chip qlik-chip qlik-stone-text btn-executive" onclick="chipShowHide(event)">
                            Executive
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-north" onclick="chipShowHide(event)">
                            North
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-south" onclick="chipShowHide(event)">
                            South
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-sales" onclick="chipShowHide(event)">
                            Sales
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-supplychain" onclick="chipShowHide(event)">
                            Supply Chain
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-marketing" onclick="chipShowHide(event)">
                            Marketing
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-qlikdeveloper" onclick="chipShowHide(event)">
                            Qlik Developer
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-it" onclick="chipShowHide(event)">
                            IT
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-external" onclick="chipShowHide(event)">
                            External
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card qlik-green z-depth-4 col s2 offset-s1">
        <div class="card-content white-text">
            <span class="card-title">CEO</span>
            <div class="row center-align valign-wrapper">

                <div class="col 12">
                    <img src="img/emily_t.png" alt="" class="circle responsive-img-custom valign">
                    <div class="caption center-align">
                        <h5>Emily Tiernen</h5>
                    </div>
                    <div>
                        <p class="bio">I need access to applications for my Executive team and all Sales data.</p>
                        <br>
                        <div class="chip qlik-chip qlik-stone-text btn-executive" onclick="chipShowHide(event)">
                            Executive
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-north" onclick="chipShowHide(event)">
                            North
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-south" onclick="chipShowHide(event)">
                            South
                        </div>
                    </div>
                </div><a class="btn-floating halfway-fab waves-effect waves-light qlik-tanzanite" target="_blank"
                         onclick="login('emily')">
                    <i class="material-icons">arrow_right_alt</i>
                </a>
            </div>

        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="card  qlik-green z-depth-4 col s2 offset-s2">
        <div class="card-content white-text">
            <span class="card-title">Sales Director</span>
            <div class="row center-align valign-wrapper">

                <div class="col 12">
                    <img src="img/landon_b.png" alt="" class="circle responsive-img-custom valign">
                    <div class="caption center-align">
                        <h5>Landon Bozak</h5>
                    </div>
                    <div>
                        <p class="bio">I manage, plan, and forecast the North and South regions, and work closely with our Marketing team.</p>
                        <br>
                        <div class="chip qlik-chip qlik-stone-text btn-sales" onclick="chipShowHide(event)">
                            Sales
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-north" onclick="chipShowHide(event)">
                            North
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-south" onclick="chipShowHide(event)">
                            South
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-marketing" onclick="chipShowHide(event)">
                            Marketing
                        </div>
                    </div>
                </div><a class="btn-floating halfway-fab waves-effect waves-light qlik-tanzanite" target="_blank"
                         onclick="login('landon')">
                    <i class="material-icons">arrow_right_alt</i>
                </a>
            </div>

        </div>
    </div>
    <div class="card  qlik-green z-depth-4 col s2 offset-s1">
        <div class="card-content white-text">
            <span class="card-title">Marketing Lead - South</span>
            <div class="row center-align valign-wrapper">

                <div class="col 12">
                    <img src="img/claire_p.png" alt="" class="circle responsive-img-custom valign">
                    <div class="caption center-align">
                        <h5>Claire Palmer</h5>
                    </div>
                    <div>
                        <p class="bio">
                            I analyze and execute Marketing campaigns and strategy for the South Region, working closely with Sales
                            to ensure we are successfully meeting our company goals.
                        </p>
                        <br>
                        <div class="chip qlik-chip qlik-stone-text btn-sales" onclick="chipShowHide(event)">
                            Sales
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-south" onclick="chipShowHide(event)">
                            South
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-marketing" onclick="chipShowHide(event)">
                            Marketing
                        </div>
                    </div>
                </div><a class="btn-floating halfway-fab waves-effect waves-light qlik-tanzanite" target="_blank"
                         onclick="login('claire')">
                    <i class="material-icons">arrow_right_alt</i>
                </a>
            </div>

        </div>
    </div>

    <div class="card  qlik-green z-depth-4 col s2 offset-s1">
        <div class="card-content white-text">
            <span class="card-title">Supply Chain Manager</span>
            <div class="row center-align valign-wrapper">

                <div class="col 12">
                    <img src="img/ryan_c.png" alt="" class="circle responsive-img-custom valign">
                    <div class="caption center-align">
                        <h5>Ryan Caruso</h5>
                    </div>
                    <div>
                        <p class="bio">
                            I execute our raw materials sourcing and purchasing strategies. I also help forecast demand and
                            finished goods inventory for our manufacturing processes.
                        </p>
                        <br>
                        <div class="chip qlik-chip qlik-stone-text btn-supplychain" onclick="chipShowHide(event)">
                            Supply Chain
                        </div>
                    </div>
                </div><a class="btn-floating halfway-fab waves-effect waves-light qlik-tanzanite" target="_blank"
                         onclick="login('ryan')">
                    <i class="material-icons">arrow_right_alt</i>
                </a>
            </div>

        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="card  qlik-green z-depth-4 col s2 offset-s3">
        <div class="card-content white-text">
            <span class="card-title">Analytics COE Director</span>
            <div class="row center-align valign-wrapper">

                <div class="col 12">
                    <img src="img/jonathan_s.png" alt="" class="circle responsive-img-custom valign">
                    <div class="caption center-align">
                        <h5>Jonathan Sway</h5>
                    </div>
                    <div>
                        <p class="bio">
                            I manage our Analytics Center of Excellence, and work closely with our business stakeholders to produce
                            actionable insights that drive value to our customers.
                        </p>
                        <br>
                        <div class="chip qlik-chip qlik-stone-text btn-qlikdeveloper" onclick="chipShowHide(event)">
                            Qlik Developer
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-it" onclick="chipShowHide(event)">
                            IT
                        </div>
                    </div>
                </div><a class="btn-floating halfway-fab waves-effect waves-light qlik-tanzanite" target="_blank"
                         onclick="login('jonathan')">
                    <i class="material-icons">arrow_right_alt</i>
                </a>
            </div>

        </div>
    </div>
    <div class="card  qlik-tanzanite z-depth-4 col s2 offset-s2">
        <div class="card-content white-text">
            <span class="card-title">External Consultant Dev</span>
            <div class="row center-align valign-wrapper">

                <div class="col 12">
                    <img src="img/jerry_b.png" alt="" class="circle responsive-img-custom valign">
                    <div class="caption center-align">
                        <h5>Jerry Bly</h5>
                    </div>
                    <div>
                        <p class="bio">I've been contracted by the company to assist in a Marketing Analytics review. </p>
                        <br>
                        <div class="chip qlik-chip qlik-stone-text btn-external" onclick="chipShowHide(event)">
                            External
                        </div>
                    </div>
                </div><a class="btn-floating halfway-fab waves-effect waves-light qlik-tanzanite" target="_blank"
                         onclick="login('jerry')">
                    <i class="material-icons">arrow_right_alt</i>
                </a>
            </div>

        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="card  qlik-green z-depth-4 col s2 offset-s3">
        <div class="card-content white-text">
            <span class="card-title">Qlik Developer</span>
            <div class="row center-align valign-wrapper">

                <div class="col 12">
                    <img src="img/ted_g.png" alt="" class="circle responsive-img-custom valign">
                    <div class="caption center-align">
                        <h5>Ted Graff</h5>
                    </div>
                    <div>
                        <p class="bio">I develop, test, and productionalize Qlik applications for our business stakeholders. </p>
                        <br>
                        <div class="chip qlik-chip qlik-stone-text btn-qlikdeveloper" onclick="chipShowHide(event)">
                            Qlik Developer
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-it" onclick="chipShowHide(event)">
                            IT
                        </div>
                    </div>
                </div><a class="btn-floating halfway-fab waves-effect waves-light qlik-tanzanite" target="_blank"
                         onclick="login('ted')">
                    <i class="material-icons">arrow_right_alt</i>
                </a>
            </div>

        </div>
    </div>







</div>



<footer class="page-footer qlik-tanzanite">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Information</h5>
                <p class="grey-text text-lighten-4">Developed by Cullin Tripp to demonstrate user personas with Qlik SaaS.</p>
            </div>
            <div class="col l6 s12">
                <p class="grey-text text-lighten-4">Use the certificate below to enable JWT:</p>
                <textarea id="certInfoTextarea"></textarea>
                <div class="chip qlik-tanzanite-text" onclick="copyCertificate()">
                    Copy Public Key
                </div>
            </div>
        </div>

    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="white-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>



