@using sportal.Data
@inject UserService UserServiceInstance

<div class="row">
    <div class="card qlik-tanzanite z-depth-4 col s2 offset-s2">
        <div class="card-content white-text">
            <span class="card-title">AD Groups</span>
            <br>
            <div class="row center-align valign-wrapper">
                <div class="col 12">
                    <div>
                        <div class="chip qlik-chip qlik-stone-text btn-executive" onclick="chipShowHide(event)">
                            Executive
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-north" onclick="chipShowHide(event)">
                            North
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-south" onclick="chipShowHide(event)">
                            South
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-sales" onclick="chipShowHide(event)">
                            Sales
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-supplychain" onclick="chipShowHide(event)">
                            Supply Chain
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-marketing" onclick="chipShowHide(event)">
                            Marketing
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-qlikdeveloper" onclick="chipShowHide(event)">
                            Qlik Developer
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-it" onclick="chipShowHide(event)">
                            IT
                        </div>
                        <div class="chip qlik-chip qlik-stone-text btn-external" onclick="chipShowHide(event)">
                            External
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">

    @foreach (User u in users)
    {
<div class="card qlik-green z-depth-4 col s12 m6 l3">
    <div class="card-content white-text">
        <span class="card-title">@u.Title</span>
        <div class="row center-align valign-wrapper">

            <div class="col 12">
                <img src="img/emily_t.png" alt="" class="circle responsive-img-custom valign">
                <div class="caption center-align">
                    <h5>@u.DisplayName</h5>
                </div>
                <div>
                    <p class="bio">@u.Biography</p>
                    <br>
                    <div class="chip qlik-chip qlik-stone-text btn-executive" onclick="chipShowHide(event)">
                        Executive
                    </div>
                    <div class="chip qlik-chip qlik-stone-text btn-north" onclick="chipShowHide(event)">
                        North
                    </div>
                    <div class="chip qlik-chip qlik-stone-text btn-south" onclick="chipShowHide(event)">
                        South
                    </div>
                </div>
            </div><a class="btn-floating halfway-fab waves-effect waves-light qlik-tanzanite" target="_blank"
                     onclick="login(@u.Subject)">
                <i class="material-icons">arrow_right_alt</i>
            </a>
        </div>

    </div>
</div>}

</div>

@code { private User[] users;

    protected override async Task OnInitializedAsync()
    {
        users = await UserServiceInstance.GetUserListAsync();
    } }


<footer class="page-footer qlik-tanzanite">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Information</h5>
                <p class="grey-text text-lighten-4">Developed by Cullin Tripp to demonstrate user personas with Qlik SaaS.</p>
            </div>
            <div class="col l6 s12">
                <p class="grey-text text-lighten-4">Use the certificate below to enable JWT:</p>
                <textarea id="certInfoTextarea"></textarea>
                <div class="chip qlik-tanzanite-text" onclick="copyCertificate()">
                    Copy Public Key
                </div>
            </div>
        </div>

    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="white-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>