/* Custom Stylesheet */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/source-sans-pro-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/source-sans-pro-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* Custom Colors */

.mdc-typography--headline3, .mat-headline3, .mat-h3 {
    font-weight: bold;
    font-family: 'Source Sans Pro' !important;
}

.mdc-typography--headline6, .mat-headline6, .mat-h6 {
    font-family: 'Source Sans Pro' !important;
}

.mdc-typography--headline6, .mat-headline6, .mat-h6, .display-name {
    font-weight: bold;
    font-family: 'Source Sans Pro' !important;
}

.mdc-typography--subtitle2, .mat-subtitle2 {
    font-style: italic;
    font-family: 'Source Sans Pro' !important;
}

.mdc-typography--body2, .mat-body2 {
    font-family: 'Source Sans Pro' !important;
}

.qlik-green {
    background-color: #009845 !important;
}

.qlik-green-text {
    color: #009845 !important;
}

.qlik-stone {
    background-color: #c4cfda !important;
}

.qlik-stone-text {
    color: #c4cfda !important;
}

.qlik-tanzanite {
    background-color: #1C355e !important;
}

.qlik-tanzanite-text {
    color: #1C355e !important;
}

.white-text {
    color: white !important;
}

/* Spacing Formatting */
h6 {
    margin-block-start: .33em !important;
    margin-block-end: .33em !important;
}

/* Location Formatting */
#settingsButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.mdc-dialog__surface {
    min-width: 60vw !important;
}

#cardBodyContent {
    height: 100%;
    color: white;
    margin: 5%;
}

#mainLayoutMaxWidth {
    max-width: 1300px;
}

.center {
    margin: auto;
    padding: 5px;
}

.textCenter {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#groupContainer {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}

#codeLinkDiv {
    padding-top: 12px;
}

#codeLinkText {
    line-height: 34px;
    height: 35px;
}

/* Custom Compenents*/
#cardBodyContent::before, #cardBodyContent::after {
    width: 0%;
    height: 0%;
}

#cardBodyContent {
    cursor: default !important;
}

#loginButton {
    color: white;
    background-color: #1C355e;
    border-radius: 50%;
    text-align: center;
}

#settingsButton {
    color: white;
    background-color: #870064;
    border-radius: 50%;
}

#groupsBox {
    margin: 5%;
}

#groupHeader {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 3px !important;
}

.parentChipGroup {
    white-space: normal;
}

.groupChip {
    font-size: 10px;
    margin: 3px 5px 3px 5px;
    background-color: #C4CFDA;
    border-radius: 25px;
    padding: 4px 13px 4px 13px;
    white-space: nowrap;
    display: inline-block;
    color: #54565A;
    font-family: 'Source Sans Pro', Fallback, sans-serif;
    font-size: 13px;
}

.mat-toast {
    font-family: 'Source Sans Pro', Fallback, sans-serif;
}

#exportCertificateButton {
    margin-right: 0px !important;
}

#refreshUsersButton {
    margin-right: auto !important;
}
