/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/* Custom Colors */

.qlik-green {
    background-color: #009845 !important;
}

.qlik-green-text {
    color: #009845 !important;
}

.qlik-stone {
    background-color: #c4cfda !important;
}

.qlik-stone-text {
    color: #c4cfda !important;
}

.qlik-tanzanite {
    background-color: #1C355e !important;
}

.qlik-tanzanite-text {
    color: #1C355e !important;
}

.white-text {
    color: white !important;
}

/* Spacing Formatting */
h6 {
    margin-block-start: .33em !important;
    margin-block-end: .33em !important;
}

/* Location Formatting */
#settingsButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.mdc-dialog__surface {
    min-width: 60vw !important;
}

#cardBodyContent {
    height: 100%;
    color: white;
    margin: 5%;
}

#mainLayoutMaxWidth {
    max-width: 1300px;
}

.center {
    margin: auto;
    padding: 5px;
}

.textCenter {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#groupContainer {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}

#codeLinkDiv {
    padding-top: 12px;
}

#codeLinkText {
    line-height: 34px;
    height: 35px;
}

/* Custom Compenents*/
#cardBodyContent::before, #cardBodyContent::after {
    width: 0%;
    height: 0%;
}

#cardBodyContent {
    cursor: default !important;
}

#loginButton {
    color: white;
    background-color: #1C355e;
    border-radius: 50%;
    text-align: center;
}

#settingsButton {
    color: white;
    background-color: #870064;
    border-radius: 50%;
}

#groupsBox {
    margin: 5%;
}

#groupHeader {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 3px !important;
}

.parentChipGroup {
    white-space: normal;
}

.groupChip {
    font-size: 10px;
    margin: 3px 5px 3px 5px;
    background-color: #C4CFDA;
    border-radius: 25px;
    padding: 4px 13px 4px 13px;
    white-space: nowrap;
    display: inline-block;
    color: #54565A;
    font-family: var(--mdc-typography-body2-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
    font-size: 13px;
}

.mat-toast {
    font-family: var(--mdc-typography-body2-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
}

#exportCertificateButton {
    margin-right: 0px !important;
}

#refreshUsersButton {
    margin-right: auto !important;
}
